{% extends 'base.html' %}

{% block body %}
    <script>
        function logValue(){
            console.log(value)
            switch(this.value){
                case 'rgbdiode':
                    document.getElementById('value').style.display='none';
                    document.getElementById('pins-div').style.display='flex';
                    break;
                default:
                    document.getElementById('value').style.display='flex';
                    document.getElementById('pins-div').style.display='none';
                    break;
                    
            }
        }
        $( document ).ready(function() {
            document.getElementById('device_type').addEventListener('change', logValue,false);
        })
    </script>

    <h6>Add</h6>
    <form class="form-add" action="/add" method="POST">
        <input class="input-field" type="text" name="name" required="required" id="name" placeholder="NAME"/>
        <input class="input-field" type="text" name="description" required="required" id="description" placeholder="DESCRIPTION"/>
        <select id="device_type" name="device_type">
            <option value="" disabled selected>Select type</option>
            <option value="sensor">Signal sensor</option>
            <option value="rgbdiode">RGB Diode</option>
            <option value="dht11">DHT11</option>
            <option value="manipulator">Manipulator</option>
          </select>
        <input class="input-field" type="number" step="1" min="2" max="26" name="pin" id="value" placeholder="GPIO PIN"/>
        <div id="pins-div">
            <input class="input-field3" type="number" step="1" min="2" max="26" name="pin1" placeholder="1 PIN"/>
            <input class="input-field3" type="number" step="1" min="2" max="26" name="pin2" placeholder="2 PIN"/>
            <input class="input-field3" type="number" step="1" min="2" max="26" name="pin3" placeholder="2 PIN"/>
        
        </div>
        <label class="checkbox" for="active">
            <input type="checkbox" name="active" id="active"/>
            <span>Active?</span>
        </label>
        <label class="checkbox" for="output">
            <input type="checkbox" name="output" id="output"/>
            <span>Is it OUTPUT?</span>
        </label>
        
        <button class="input-button" type="submit" value="Add Sensor">Add Sensor</button>
    </form>
{% endblock %}