{% extends 'base.html' %}


{% block body %}
<script>
    let refreshing=false;
	let temp_lat = 0;
	let humi_lat = 0;
    let temp = '???';
    let hum = '???';
    
    function change(){
        if(refreshing){
            refreshing=false;
            clearInterval(refresh)
            document.getElementById('info').innerHTML="Turn On";
            document.getElementById('info').classList.remove("active");
        }
        else{
            refreshing=true;
            start_refreshing();
            document.getElementById('info').innerHTML="Turn Off";
            document.getElementById('info').classList.add("active");
        }
    }

    function start_refreshing(){
        refresh = window.setInterval(refresh300, 5000);
    }
    function refresh300(){
        let this_id = {{id}}
        fetch(`http://192.168.1.130:5000/device/${this_id}`)
            .then(function(response){
                if(!response.ok){
                    document.getElementById('state').innerHTML="NO DEVICE"
                    document.getElementById('state').style.color="#a00"
                    document.getElementById('title_scan').innerHTML=""
                    document.getElementById('info').remove();
                }
                return response.json()
            })
            .then(data => {
                if(data.active){
                    let values = data.values.split(',')
			if(values[0] == 'None'){temp_lat=temp_lat+1;}
			else{temp_lat=0;}

			if(temp_lat>0){
				document.getElementById('temperature').innerHTML=temp+'C ('+(temp_lat*5)+'sec ago)';
			}
			else{
				document.getElementById('temperature').innerHTML=values[0]+'C';
                temp=values[0];
			}

			if(values[1] == 'None'){humi_lat=humi_lat+1;}
			else{humi_lat=0;}

			if(humi_lat>0){
				document.getElementById('humidity').innerHTML=hum+'% ('+(humi_lat*5)+'sec ago)';
			}
			else{
				document.getElementById('humidity').innerHTML=values[1]+'%';
                hum=values[1];
			}
                    document.getElementById('name').innerHTML=data.name
                }
                else{
                document.getElementById('state').innerHTML="DEVICE NOT ACTIVE"
                document.getElementById('state').style.color="#a00"
                document.getElementById('title_scan').innerHTML=""
                document.getElementById('info').remove();
                }
            })
            .catch(error => {
                console.log(error)
                });
            
    }

    refresh300();



</script>
<h6 id="title_scan">Scan</h6>
<button class="info" id="info" onclick="change();">Turn On</button>
<div id="device_name"></div>
<div id="state">
    <div class="dht11value">Temperature: <div id="temperature">???</div></div>
    <div class="dht11value">Humidity: <div id="humidity">???</div></div>

</div>

{% endblock %}
